<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>

<img src="https://www.converse.com/dw/image/v2/BCZC_PRD/on/demandware.static/-/Sites-cnv-master-catalog/default/dw411310db/images/a_08/162056C_A_08X1.jpg?sw=406"alt="converse shoes">
<h1>converse</h1>
<img scr="https://www.shooos.com/kotnikove-tenisky-converse-chuck-taylor-all-star-core-hi-cierne">
<h2>black converse</h2>
<h3>the price =270$</h3>
<a href="/"><button>home page </button></a>

</body>
</html>